doctype html
html
  head
    title Page Not Found
    link(rel='stylesheet' href='/stylesheets/style.css')
  body
    h1= error.status + " Page not found."
    p= error.message
    p
      a.button(href='/') Home
